body {
  background-color: #07cbdc;
}
jumbotron {
background-color: #00ff80;
text-align:center;
margin:30px;
}
.lable-styles{
font-weight:bold;
font-size:25px;
}
@media screen and (min-width:510px){
.image-styles{
width:100%;
height:500px;
float:center;
display: block;
}
}
.image-styles{
width:90%;
height:70%;
margin: 0px auto;
display: block;
}
btn btn-primary{
align:center
}
