{% extends "layout.html" %}

{% block heading %}


{% endblock %}

{% block body %}


 <div class="p-3 mb-2 bg-dark text-black">
<div class="jumbotron">
    <hr>
  <h1> Online books </h1>
    <hr>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" >
            <form action="{{ url_for('register')}}" method="GET">
            <div class="each-column">
                <div class="p-3 mb-2 bg-info text-white">
<h5>Click Register to create new account</h5>
                     <button class="btn btn-primary">Register</button>

                </div>

</div>
            </form>
            </div>

        <div class="col-lg-12 col-sm-12 col-xs-12" >
    <br>
            <br>
      <img class="image-styles" src={{ image_file }}>
    </div>

       <div class="col-lg-12 col-sm-12 col-xs-12" >
           <form action="{{ url_for('login')}}" method="GET">


       <div class="each-column">
            <div class="p-3 mb-2 bg-info text-white">
           <h5>Do you have account? Please click Login</h5>
<button type="submit" class="btn btn-primary">Login</button>
       </div>
       </div>
           </form>


</div>
    </div>
</div>
{% endblock %}
