'''def create_connection(engine):
    try:
        conn = sqlite3.connect(engine)
        return conn
    except Error as e:
        print(e)
        return None


def create_table(conn, user):
    """ create a table form the user statement
    :param conn: Connection object
    :param create_table_user: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(user)
    except Error as e:
        print(e)


def main():
    database = "sqlite:///C:/sqlite/reader.db"
    user = """ CREATE TABLE IF NOT EXISTS user ( 
     id integer PRIMARY KEY,
     user_email text NOT NULL,
     username text NOT NULL,
     password text NOT NULL,
    confirm_password text NOT NULL); """
    books = """ CREATE TABLE IF NOT EXISTS books (
      id integer PRIMARY KEY,
      title text NOT NULL,
      author text NOT NULL,
      year integer NOT NULL)
      FOREIGN KEY (user_id) REFERENCES user (id)
                       );  """
    conn = create_connection(database)
    if conn is not None:
        create_table(conn,user)
        create_table(conn,books)
    else:
        print("Error! cannot creat the database connection")
'''